{% extends 'backend/base.html' %}
{% load static %}
{% load i18n %}

{% block tab_name %}
    Admin Control
{% endblock tab_name %}

{% block title %}
    Admin Control
{% endblock title %}

{% block additional_buttons %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <a href="{% url 'backend:home_page' %}"
               class="adminbtn btn btn-danger navbar-inline-list">
                Home Page </a>
            <a href="{% url 'backend:assignment_page' %}"
               class="adminbtn btn btn-danger navbar-inline-list">
                Assignment Page </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Custom Admin Actions</h1>
    <div id="admin-actions">
        <div class="section">
            <span>Finalisation Actions</span>
            <div id="automaticAssignmentDiv" class="text-button">
                <button id="automaticAssignment" class="{% if running %} running {% endif %}"
                        onclick="automaticAssignment(true)"><i
                        class="fa fa-check" aria-hidden="true"></i>
                </button>
                <p>Start an automatic Assignment with Override</p>
                <div id="automaticAssignmentProgress">
                    <div class="text"></div>
                </div>
            </div>
            <div id="finalizeAllAssignmentsDiv" class="text-button">
                <button id="finalizeAllAssignments" onclick="finalizeAllAssignments(true)"><i
                        class="fa fa-check" aria-hidden="true"></i>
                </button>
                <p>Lock and Finalize all Assignments. Only possible if all Slots are filled correctly</p>
            </div>
            <div id="unfinalizeAllAssignmentsDiv" class="text-button">
                <button id="unfinalizeAllAssignments" onclick="finalizeAllAssignments(false)"><i
                        class="fa fa-check" aria-hidden="true"></i>
                </button>
                <p>Unlock all Assignments</p>
            </div>
            <div id="sendEmailsDiv" class="text-button">
                <button id="sendEmails" onclick="sendEmails()"><i
                        class="fa fa-check" aria-hidden="true"></i>
                </button>
                <p>Send Emails</p>
            </div>
        </div>
        <div class="section">
            <span>Change active/shown Term</span>
            <div id="selectTermDiv" class="text-button">
                <button id="selectTerm"
                        onclick="changeActiveTerm()"><i
                        class="fa fa-save" aria-hidden="true"></i>
                </button>
                <p>Change the active/shown Term for Students and Administrator</p>
                <select id="selectTermSelect" name="term">
                    {% for term in terms %}
                        <option value="{{ term }}" {% if term == activeTerm %} selected
                                style="background: var(--green)" {% endif %} >{{ term }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="section">
            <span>Removals</span>
            <div id="removeBrokenSlotsDiv" class="text-button">
                <button id="removeBrokenSlots" onclick="removeBrokenSlots()"><i
                        class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <p>Remove all applications from all Slots with Errors</p>
            </div>
        </div>
    </div>

    <!-- script block for finalisation actions -->
    <script>

        /**
         * Sends an ajax request to the backend to send emails to all students that have selected a topic in the current term.
         */
        function sendEmails() {
            if (confirm("Do you really want to send all Emails to all Students now?")) {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "sendEmails",
                    },
                    method: "POST",
                    success: () => {
                        alert("Emails send!");
                    }
                });
            }

        }

        let assignmentRunning = {% if running %} true {% else %} false {% endif %}

        /**
         * Sends an ajax request to the backend to start the automatic assignment.
         * @param override if true override all non-locked slots and applications if it finds a better result
         */
        function automaticAssignment(override) {
            if (assignmentRunning) {
                window.alert("This process is already running");
                return;
            }
            if (override) {
                if (!confirm("This will override all non locked slots and applications if it finds a better result!\nDo you want to continue?")) {
                    return
                }
            }
            startAutoUpdate();

            assignmentRunning = true;
            $('#automaticAssignmentProgress').show();
            $('#automaticAssignment').addClass('running');
            $('#automaticAssignment i').addClass('fa-spin');
            $('#automaticAssignmentNoOverride').addClass('running');
            $('#automaticAssignmentNoOverride i').addClass('fa-spin');


            $.ajax({
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: "startAutomaticAssignment",
                    override: override
                },
                method: "POST",
            });
        }


        let autoQuery

        /**
         * Starts an interval to query the backend for the progress of the automatic assignment.
         */
        function startAutoUpdate() {
            if (autoQuery != null)
                return
            autoQuery = setInterval(function () {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "getAssignmentProgress",
                    },
                    method: "POST",
                    dataType: "json",
                    success: (data) => {

                        $("#automaticAssignmentProgress").progressbar("value", data['progress']);
                        $("#automaticAssignmentProgress .text").text(data['progress'] + "%     " + data['eta']);
                        if (!data['running']) {
                            $('#automaticAssignment').removeClass('running');
                            $('#automaticAssignment i').removeClass('fa-spin');
                            $('#automaticAssignmentNoOverride').removeClass('running');
                            $('#automaticAssignmentNoOverride i').removeClass('fa-spin');

                            $('#automaticAssignmentProgress').hide();
                            assignmentRunning = false

                            clearInterval(autoQuery);
                            autoQuery = null;
                        }
                    }
                });
            }, 250)
        }

        /**
         *
         * @param finalize if true lock if false unlock
         */
        function finalizeAllAssignments(finalize) {
            $.ajax({
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: "finalize",
                    finalize: finalize,
                },
                method: "POST",
                dataType: "json",
                success: (data) => {
                    if (finalize) {
                        if (data["success"])
                            alert("Finalized");
                        else
                            alert("Could not finalize. There are Slots with Errors");
                    } else {
                        alert("Finalization deleted");
                    }
                }
            });
        }

        $(document).ready(
            function () {
                $('#automaticAssignmentProgress').progressbar({
                    value: 0
                });
                if (assignmentRunning) {
                    $('#automaticAssignmentProgress').show();
                    $('#automaticAssignment').addClass('running');
                    $('#automaticAssignment i').addClass('fa-spin');
                    $('#automaticAssignmentNoOverride').addClass('running');
                    $('#automaticAssignmentNoOverride i').addClass('fa-spin');
                    startAutoUpdate();
                } else {
                    $('#automaticAssignmentProgress').hide();
                }
            }
        );
    </script>

    <!-- script block for change term -->
    <script>
        /**
         * Sends an ajax request to the backend to change the currently active term.
         */
        function changeActiveTerm() {
            $.ajax({
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: "changeTerm",
                    newTerm: $('#selectTermSelect').val(),
                },
                method: "POST",
                success: () => {
                    alert("Term changed!");
                    location.reload();
                }
            });
        }
    </script>

    <!-- script block for removals -->
    <script>
        /**
         * Sends an ajax request to the backend to remove all applications from all Slots with Errors.
         */
        function removeBrokenSlots() {
            if (confirm("Delete all assignments from all Slots with Errors? \nIgnores finalized status \nASSIGNMENTS ARE NOT RECOVERABLE!")) {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "removeBrokenSlots",
                    },
                    method: "POST",
                    success: () => {
                        alert("Slots with Errors cleared");
                    }
                });
            }
        }
    </script>

    <!-- initialize default error message for post request -->
    <script>
        $.ajaxSetup({
            error: function (error) {
                alert("Server error on request!\n Check for critical Slots with Errors or contact an administrator! (╯°□°)╯︵ ┻━┻ Oh wait you are the administrator. Well good luck fixing the problem and sorry for the inconvenience \n" + error.statusText + "\n " + error.responseText);
            }
        })
    </script>
{% endblock %}

