{% extends 'backend/base.html' %}
{% load static %}
{% load i18n %}



{% block tab_name %}
    Assignment
{% endblock tab_name %}

{% block title %}
    Assignment
{% endblock title %}

{% block additional_buttons %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <a href="{% url 'backend:home_page' %}"
               class="adminbtn btn btn-danger navbar-inline-list">
                Home Page </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="user-feedback"></div>

    <div id="assignment-topBar" class="topBar">
        <div class="group">
            <div id="searchbarDiv">
                <label>
                    <input id="searchbar" type="text" placeholder="{% translate "Search course/topic" %}">
                </label>
            </div>
            <div id="filterDiv" class="button-text">
                <button id="filterButton" onclick="openFilterModal()"><i class="fa fa-filter" aria-hidden="true"></i>
                    Filter

                </button>

            </div>
            <div id="overrideControlDiv" class="text-button">
                <p>Override Slot:</p>
                <button id="overrideControl" onclick="overrideControl()"><i class="fa fa-times"></i></button>
            </div>
            <div id="ignoreAssigned" class="text-button">
                <p>Override Application:</p>
                <button id="ignoreAssigned" onclick="ignoreAssigned()"><i class="fa fa-times"></i></button>
            </div>
            <div id="openFirstAppGroup" class="text-button">
                <p>Open first open Application of group:</p>
                <button id="openFirstAppGroup" onclick="openFirstAppGroup()"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="group">
            <div id="applications-pending-update"></div>
        </div>
    </div>

    <div id="assignment-content">
        <div class="section" id="topics">
            <div class="section-inner">
                <span>Topics</span>
                <div class="inner-list">
                    {% for topics_of_course in topics_of_courses %}
                        <div class="topics_of_course inner-list-item"
                             data-courseid="{{ topics_of_course.course.id }}">
                            <details open>
                                <summary>{{ topics_of_course.course.title }}</summary>
                                {% for topic in topics_of_course.topics %}
                                    <div class="topic field"
                                         data-topicid="{{ topic.id }}"
                                         data-cp="{{ topics_of_course.course.cp }}"
                                         data-faculty="{{ topics_of_course.course.faculty }}"
                                         data-course_type="{{ topics_of_course.course.type.pk }}">{{ topic.title }}</div>
                                {% endfor %}
                            </details>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="assignment-application" class="section multi">
            <div id="no-topic-selected" class="section section-inner">Select a topic to start assigning</div>
        </div>
        <div class="section" id="groupdetails" data-groupid="-1" data-applicationid="-1" data-collectionid="-1">
            <span>Group Details</span>
            <p class="description">Please click on the info button on an application.</p>
            <div class="section-inner members" style="display: none;">
                <p>Group Members <i class="icon fa fa-chevron-up"></i></p>

                <div class="inner-list" style="display: none">
                </div>
            </div>
            <div class="section-inner choices" style="display: none;">
                <p>Choices in current collection <i class="icon fa fa-chevron-up" style="rotate: 180deg;"></i></p>

                <div class="inner-list">
                </div>

            </div>
        </div>

        {# FILTER MODAL #}
        <div id="filter-modal" class="modal-container" style="display: none;">
            <div class="modal-content">
                <div class="title"><span>Filter</span><i class="fa fa-times"></i></div>
                <div class="filter-content">
                    <div class="filter" data-filter="cp">
                        <div class="title-bar">
                            <div class="text">
                                <p>Choose CP: </p>
                                <p id="chosen-cp" class="slider-info"></p>
                            </div>
                            <div class="chips">
                                <div class="chip multi selected" data-filter="cp"><i class="fa"></i>Select all</div>
                            </div>
                        </div>
                        <div class="slider multi">
                            <div id="slider-range"></div>
                        </div>
                    </div>

                    <div class="filter" data-filter="course">
                        <div class="title-bar">
                            <div>
                                <p>Choose Course Type:</p>
                            </div>
                            <div class="chips">
                                <div class="chip multi selected" data-filter="courseType"><i class="fa"></i>
                                    <div class="unsel">Unselect all</div>
                                    <div class="sel">Select all</div>
                                </div>
                            </div>
                        </div>
                        <div class="chips">
                            <div class="single">
                                {% for courseType in course_types %}
                                    <div class="chip" data-filter="courseType" data-value="{{ courseType.pk }}">
                                        <i class="fa"></i>{{ courseType }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="filter" data-filter="faculty">
                        <div class="title-bar">
                            <div>
                                <p>Choose Faculty:</p>
                            </div>
                            <div class="chips">
                                <div class="chip multi selected" data-filter="faculty"><i class="fa"></i>
                                    <div class="unsel">Unselect all</div>
                                    <div class="sel">Select all</div>
                                </div>
                            </div>
                        </div>
                        <div class="chips">
                            <div class="single">
                                {% for faculty in faculties %}
                                    <div class="chip" data-filter="faculty" data-value="{{ faculty }}">
                                        <i class="fa"></i>{{ faculty }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="filter" data-filter="special">
                        <div class="title-bar">
                            <div>
                                <p>Shows only a type of Topics:</p>
                            </div>
                            <div class="chips">
                                <div class="chip multi selected special" data-filter="special"><i class="fa"></i>
                                    <div class="sel">Update with this filter</div>
                                </div>
                            </div>
                        </div>
                        <div class="chips">
                            <div class="single">
                                <div class="chip special selected" data-filter="special" data-value="showAll">
                                    <i class="fa"></i>All Topics
                                </div>
                                <div class="chip special" data-filter="special" data-value="showEmpty">
                                    <i class="fa"></i>Topics with remaining space
                                </div>
                                <div class="chip special" data-filter="special" data-value="showOpen">
                                    <i class="fa"></i>Topics with open applications
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="broken-slots" class="bottom-tab">
        <span title="not influenced by current active filters">
            Slots with Errors
            <i class="icon fa fa-chevron-up rotation"></i>
        </span>
        <div id="broken-slots-div" class="bottom-tab-content inner-list">
        </div>
    </div>

    <div id="group-by-prio" class="bottom-tab">
        <span title="not influenced by current active filters">
            Groups by currently assigned priority
            <i class="icon fa fa-chevron-up rotation"></i>
        </span>
        <div class="tabs-div bottom-tab-content">
            <div class="tabs-sel">
                <button class="tablinks active" onclick="openTab(event,0)">0</button>
                <button class="tablinks" onclick="openTab(event,6)">>5</button>
                <button class="tablinks" onclick="openTab(event,5)">5</button>
                <button class="tablinks" onclick="openTab(event,4)">4</button>
                <button class="tablinks" onclick="openTab(event,3)">3</button>
                <button class="tablinks" onclick="openTab(event,2)">2</button>
                <button class="tablinks" onclick="openTab(event,1)">1</button>
                <button class="tablinks" onclick="reloadTabs()"><i class="fa fa-refresh"></i></button>
            </div>
            <div class="tabs-tabs">
                <div class="tab inner-list" id="group-by-prio-0"></div>
                <div class="tab inner-list" id="group-by-prio-1"></div>
                <div class="tab inner-list" id="group-by-prio-2"></div>
                <div class="tab inner-list" id="group-by-prio-3"></div>
                <div class="tab inner-list" id="group-by-prio-4"></div>
                <div class="tab inner-list" id="group-by-prio-5"></div>
                <div class="tab inner-list" id="group-by-prio-6"></div>
            </div>
        </div>
    </div>

    <div id="statistics-window" class="bottom-tab">
        <span title="influenced by current active filters">
            Statistics
            <i class="icon fa fa-chevron-up rotation"></i>
        </span>
        <div id="statistics-div" class="bottom-tab-content">
            <div id="statistics-numbers">
                <div>
                    <p> Score: </p>
                    <p id="statistics-score"></p>
                </div>
                <div>
                    <p> Slots with Errors: </p>
                    <p id="statistics-broken_slots"></p>
                </div>
                <div>
                    <p> Open Applications (Groups): </p>
                    <p id="statistics-not_assigned_groups"></p>
                </div>
            </div>
            <div id="statistics-chart">
                <canvas id="bar-chart"></canvas>
            </div>
        </div>
    </div>

    <!-- Script block for statistics window -->
    <script>
        $(document).ready(function () {
            const div = $('#statistics-div')
            div.slideToggle(0)
            $('#statistics-window span').click(function () {
                div.slideToggle();
                $('#statistics-window span .icon').toggleClass('rotation');
                updateStatistic();
            });
        });

        let statisticQueue = null;

        /**
         * Schedules an update of Statistic and Stats
         */
        function updateStatistic() {


            if (statisticQueue != null) {
                clearTimeout(statisticQueue);
            }
            statisticQueue = setTimeout(() => {
                if ($('#statistics-div').attr('style') !== 'display: none;') {
                    const statisticsChartDiv = $("#statistics-chart");
                    const score = $('#statistics-score');
                    const brokenSlots = $('#statistics-broken_slots');
                    const notAssignedGroups = $('#statistics-not_assigned_groups');
                    $('#statistics-window span').html($('<div class="title"><span title="influenced by current active filters">Statistics  <i class="fa fa-spin fa-circle-o-notch loading"></i></span></div><i class="icon fa fa-chevron-up rotation"></i>'));

                    $.ajax({
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: 'getStatisticData',
                            minCP: filterSettings.selectedCPMin,
                            maxCP: filterSettings.selectedCPMax,
                            courseTypes: filterSettings.selectedCourseTypes,
                            faculties: filterSettings.selectedFaculties
                        },
                        method: "POST",
                        dataType: "json",
                        success: function (data) {
                            function updateChart() {
                                statisticsChartDiv.find('#bar-chart').remove();
                                statisticsChartDiv.find('.chartjs-size-monitor').remove();
                                let canvasElement = $('<canvas id="bar-chart"></canvas>');
                                canvasElement.appendTo(statisticsChartDiv);

                                const ctx = canvasElement[0].getContext("2d");

                                const color1 = "#519BB2"
                                const color2 = "#3F8098"
                                const color3 = "#36738C"
                                const color4 = "#2D657F"
                                const color5 = "#245772"
                                const color6 = "#20506C"
                                const color7 = "#1B4965"

                                const color1_1 = "#51cdb2";
                                const color1_2 = "#47bea4";
                                const color1_3 = "#3fb298";
                                const color1_4 = "#35a28a";
                                const color1_5 = "#2d967e";
                                const color1_6 = "#248972";
                                const color1_7 = "#1b7b65";

                                const black = "#000000";

                                new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ["1. Choice", "2. Choice", "3. Choice", "4. Choice", "5. Choice", "> 5. Choice", "No Assignment"],
                                        datasets: [
                                            {
                                                label: 'Assigned Groups',
                                                data: data.groups,
                                                backgroundColor: [
                                                    color1,
                                                    color2,
                                                    color3,
                                                    color4,
                                                    color5,
                                                    color6,
                                                    color7
                                                ],
                                                borderColor: [
                                                    black,
                                                    black,
                                                    black,
                                                    black,
                                                    black,
                                                    black,
                                                    black
                                                ],
                                                borderWidth: [1, 1, 1, 1, 1, 1, 1]
                                            },
                                            {
                                                label: 'Assigned Students',
                                                data: data.students,
                                                backgroundColor: [
                                                    color1_1,
                                                    color1_2,
                                                    color1_3,
                                                    color1_4,
                                                    color1_5,
                                                    color1_6,
                                                    color1_7
                                                ],
                                                borderColor: black,
                                                borderWidth: 1
                                            }
                                        ]
                                    },
                                    options: {
                                        responsive: true,
                                    }
                                });
                            }

                            function updateNumbers() {
                                score.text(data["score"]);
                                brokenSlots.text(data["brokenSlots"]);
                                notAssignedGroups.text(data["notAssignedGroups"])
                            }

                            $('#statistics-window span').html($('<span title="influenced by current active filters">Statistics<i class="icon fa fa-chevron-up rotation"></i></span>'));
                            updateNumbers();
                            updateChart();
                        }
                    });
                }
            }, 250);
        }
    </script>

    <!-- Script block for Groups by Priority -->
    <script>
        $(document).ready(function () {
            const div = $('#group-by-prio .bottom-tab-content')
            div.slideToggle(0)
            $('#group-by-prio span').click(function () {
                div.slideToggle();
                $('#group-by-prio span .icon').toggleClass('rotation');
                reloadTabs();
            });
            $('#group-by-prio-0').show()
        })

        /**
         * Opens a tab of the group by priority window
         * @param event the event that triggered the function
         * @param index the index of the tab to open
         */
        function openTab(event, index) {
            $('.tab').each((index, element) => {
                $(element).hide();
            });

            $('.tablinks').each((index, element) => {
                $(element).removeClass('active');
            });

            // Show the current tab, and add an "active" class to the button that opened the tab
            $('#group-by-prio-' + index).show();
            $(event.currentTarget).addClass('active');
        }

        /**
         * Reloads the tabs of the group by priority window
         */
        function reloadTabs() {
            for (let i = 0; i < 7; i++) {
                const tab = $('#group-by-prio-' + i);
                tab.empty();
                tab.append($('<i class="fa fa-spin fa-circle-o-notch loading"></i>'));
            }
            $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "groupsByPrio",
                    },
                    method: "POST",
                    dataType: "json",
                    success: data => {
                        for (let i = 0; i < 7; i++) {
                            const tab = $('#group-by-prio-' + i);
                            tab.empty();
                            for (const element of data[i]) {
                                const div = '<div class="inner-list-item" onclick="getGroupDetails(' + element[0] + ',' + element[1] + ')">Group ' + element[0] + ' Collection ' + element[1] + ' </div>';
                                tab.append($(div))
                            }
                        }
                    }
                }
            );
        }
    </script>

    <!-- Script block for Slots with Errors -->
    <script>
        $(document).ready(function () {
            const div = $('#broken-slots-div')
            div.slideToggle(0)
            $('#broken-slots span').click(function () {
                div.slideToggle();
                $('#broken-slots span .icon').toggleClass('rotation');
                updateBrokenSlots();
            });
        });

        let brokenSlotsQueue = null;


        /**
         * updated Slots with Errors
         */
        function updateBrokenSlots() {

            if (brokenSlotsQueue != null) {
                clearTimeout(brokenSlotsQueue);
            }
            brokenSlotsQueue = setTimeout(() => {
                if ($('#broken-slots-div').attr('style') !== 'display: none;') {
                    const brokenSlots = $("#broken-slots-div");
                    $('#broken-slots span').html($('<div class="title"><span title="not influenced by current active filters">Slots with Errors <i class="fa fa-spin fa-circle-o-notch loading"></i></span></div><i class="icon fa fa-chevron-up rotation"></i>'));
                    $.ajax({
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: 'getBrokenSlots'
                        },
                        method: "POST",
                        dataType: "json",
                        success: function (data) {
                            $('#broken-slots .loading').remove()
                            brokenSlots.empty()
                            const errors = data['brokenSlots'];
                            for (let i = 0; i < errors.length; i++) {
                                for (const error of errors[i]) {
                                    let item = $(
                                        '<div class="inner-list-item broken-slot' + (i === 1 ? "critical" : "") + '" onclick="handleTopicAdd(' + error[0] + ')">' +
                                        '       <div class="slot-str">' + error[2] + '</div>' +
                                        '       <div class="cause"> Caused by: ' + error[3] + '</div>' +
                                        '   <button title="Clear Slot" onclick="removeBrokenSlot(' + error[0] + ',' + error[1] + ')"> <i class="fa fa-trash"></i></button>' +
                                        '</div>'
                                    );
                                    brokenSlots.append(item)
                                }
                            }
                        }
                    });
                }
            }, 250);
        }

        /**
         * Clears the slot with the given topic and assignment id
         * @param topicID the topic id of the slot
         * @param assignmentID the assignment id of the slot
         */
        function removeBrokenSlot(topicID, assignmentID) {
            if (confirm("This well remove all saved applications from this slot.\n This is not reversible\n Do you want to continue?")) {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: 'clearSlot',
                        assignmentID: assignmentID
                    },
                    method: "POST",
                    success: () => {
                        location.reload()
                    }
                });
            }
        }
    </script>

    <!-- Script block for group details -->
    <script>
        let openFirstAppOfGroup = false;

        /**
         * Toggles whether the first application of a group should be opened upon clicking on the group
         */
        function openFirstAppGroup() {
            const button = $('#openFirstAppGroup');
            button.toggleClass('selected');
            openFirstAppOfGroup = !!button.hasClass('selected');
        }

        $(document).ready(function () {
            $('#assignment-content #groupdetails .section-inner p').on('click', function () {
                let innerlist = $(this).siblings('.inner-list').first();
                if (innerlist.is(':visible')) {
                    $(this).find('.icon').first().css('rotate', '0deg');
                    innerlist.stop().slideUp();
                } else {
                    $(this).find('.icon').first().css('rotate', '180deg');
                    innerlist.stop().slideDown();
                }
            });

            $('#assignment-application').on('click', '.application', function () {
                $('.application.selected').removeClass('selected');
                $(this).addClass('selected');
                let appID = $(this).attr('id').replace('application-', '');
                updateApplicationGroupDetails(appID);
            });

            // --- Preselect group information --- //
            {% if groupid != False and collectionid != False %}
                getGroupDetails({{ groupid }}, {{ collectionid }})
            {% endif %}
        })

        /**
         * Function for retrieving details about the applications group and displaying it
         * @param appID the application id
         */
        function updateApplicationGroupDetails(appID) {
            $('#assignment-content #groupdetails .description').hide();
            $('#assignment-content #groupdetails .section-inner').show();
            $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "selectApplication",
                        applicationID: appID
                    },
                    method: "POST",
                    dataType: "json",
                    success: handleGroupDetailServerResponse()
                }
            );
        }

        /**
         * Function for retrieving details about a group and displaying it
         * @param groupID  The id of the group
         * @param collectionID The collection of the group
         */
        function getGroupDetails(groupID, collectionID) {
            if ($('#assignment-modal').is(':visible'))
                return;
            $('#assignment-content #groupdetails .description').hide();
            $('#assignment-content #groupdetails .section-inner').show();
            $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "loadGroupData",
                        groupID: groupID,
                        collectionID: collectionID,
                    },
                    method: "POST",
                    dataType: "json",
                    success: handleGroupDetailServerResponse()
                }
            );
        }

        /**
         * Function for handling the server response of group details
         * Opens first free topic if option is selected
         */
        function handleGroupDetailServerResponse() {
            return function (data) {
                $('#groupdetails span').text('Group Details: Group ' + data['selectedGroup'] + " Collection " + data['selectedCollection'])
                let groupList = $('#groupdetails .members .inner-list');
                groupList.html('');
                data['members'].forEach(function (member) {
                    let html = $('<div class="member inner-item">' + member + '</div>');
                    groupList.append(html);
                });
                let choiceList = $('#groupdetails .choices .inner-list');
                choiceList.html('');
                let opened = !openFirstAppOfGroup
                data['collection'].forEach(function (choice) {
                    let classes = '';
                    if (choice['freeSlots'] < 1)
                        classes += ' full';
                    if (data['assigned'] === choice['id'])
                        classes += ' assigned';
                    let html =
                        $('<div class="choice inner-item' + classes + '" data-topic-id="' + choice['id'] + '">' +
                            '<div class="name">' +
                            '<i class="fa fa-hashtag"></i>' + choice['priority'] + ' ' + choice['name'] +
                            '</div>' +
                            '<div class="details">' +
                            '<small>Free slots</small>' +
                            choice['freeSlots'] +
                            '<i class="info-button fa fa-info-circle"></i>' +
                            '</div>' +
                            '</div>');
                    html.click(function (event) {
                        event.preventDefault();
                        handleTopicAdd(choice['id']);
                    });
                    choiceList.append(html);
                    if (!opened && choice['freeSlots']) {
                        opened = true;
                        handleTopicAdd(choice['id']);
                    }
                })
                updateURL(null, data['selectedGroup'], data['selectedCollection'])
            }
        }
    </script>

    <!-- Script block for the assignments and topic handling -->
    <script>
        const shownTopics = new Map();
        let overrideApplications = false;
        let overrideFulfilled = false;

        /**
         * A class representing on Slot and Application in relationship
         */
        class SlotAppRel {
            constructor(topicID, name) {
                this.slots = new Map();
                this.applications = new Map();
                this.topicID = topicID;

                this.createSectionDiv(name);
            }

            /**
             * Creates the div for this relation
             * @param name
             */
            createSectionDiv(name) {
                let closeID = "close-" + this.topicID;
                $('#assignment-application').prepend('' +
                    '<div class="section single" id="assignment-application-' + this.topicID + '">' +
                    '<div class="section-inner" id="assignments-' + this.topicID + '-div">' +
                    '   <span>Assignments - ' + name + '</span>' +
                    '   <div id="assignments-' + this.topicID + '" class="inner-list">' +
                    '   </div>' +
                    '</div>' +
                    '<div class="section-inner" id="applications-' + this.topicID + '-div">' +
                    '   <span class="title">Applications - ' + name + '<i id="' + closeID + '" class="fa fa-times"></i></span>' +
                    '   <div id="applications-' + this.topicID + '" class="inner-list">' +
                    '   </div>' +
                    '</div>' +
                    '</div>'
                )
                let slotAppRel = this
                // make application div droppable
                $('#applications-' + this.topicID).droppable({
                    accept: ".application",
                    hoverClass: "drop-hover",
                    drop: (event, ui) => this.handleDropOnApplicationDiv(event, ui)
                })
                //handle close click on x
                $('#' + closeID).on('click', function () {
                    handleTopicRemove(slotAppRel.topicID);
                    $(".topic.selected").filter(function () {
                        return $(this).data("topicid") === slotAppRel.topicID;
                    }).removeClass('selected');

                });
            }

            /**
             * Handles a drop on applications.
             * @return {(function(*, *): void)|*} the jquery drop handler
             */
            handleDropOnApplicationDiv(event, ui) {
                const drag = ui.draggable;
                const application = this.applications.get(parseInt(ui.draggable.attr("id").substring(12)));

                let revert = false;
                if (application == null) {
                    infoPopup("info", "Can only change items in the same Topic");
                    revert = true;
                } else if (application.slotID === -1) {
                    revert = true;
                }

                if (revert)
                    return $(drag).draggable("option", "revert", true);
                $(drag).draggable("option", "revert", false);

                infoPopup("wait", "Waiting for server response")
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "removeAssignment",
                        applicationID: application.id,
                    },
                    method: "POST",
                    dataType: "json",
                    success: (data) => {
                        if (data['requestStatus']) {
                            $('#applications-' + this.topicID).append(ui.draggable);
                            this.slots.get(application.slotID).removeApplication(application);

                            // Update group details
                            let selectedAppID = $('.application.selected').attr('id').replace('application-', '');
                            updateApplicationGroupDetails(selectedAppID);
                            this.sortApplicationsList()

                            infoPopup("good", data['text'])
                            updateStatistic()
                            updateBrokenSlots()
                        } else {
                            $(drag).draggable("option", "revert", true);
                            infoPopup("bad", data['text'])
                        }
                    }
                });
            }

            sortApplicationsList() {
                let applications = $('#applications-' + this.topicID + ' .application')
                let slotAppRel = this;
                applications.sort(function (a, b) {
                    return slotAppRel.applications.get(parseInt($(a).attr('id').substring(12))).preference - slotAppRel.applications.get(parseInt($(b).attr('id').substring(12))).preference
                });
                $('#applications-' + this.topicID).append(applications);
            }

            /**
             * Deletes the div for this relation
             */
            deleteSectionDiv() {
                $('#assignment-application-' + this.topicID).remove();
            }

            /**
             * Creates {@link Application}s and adds them to either their slot or applications.
             * @param loadedApplications the applications to load
             */
            loadApplications(loadedApplications) {
                let application;
                for (let app of loadedApplications) {
                    application = new Application(app['applicationID'], app['students'], app['preference'], app['possibleAssignmentsForCollection'], app['collectionCount'], app['slotID'], app['collectionFulfilled'], app['finalizedAssignment'], this, app['collectionID']);
                    this.applications.set(application.id, application);
                    if (application.slotID !== -1)
                        this.slots.get(application.slotID).addApplication(application);
                    else
                        $('#applications' + "-" + this.topicID).append(application.div);

                    application.updateDiv();
                }
                this.sortApplicationsList()
            }

            /**
             * Creates {@link Slot}s and adds them to assignments
             * @param count how many slots will be created
             * @param minSize minSize of a slot
             * @param maxSize maxSize of a Slot
             * @param finalized whether a slot is finalized
             */
            loadSlots(count, minSize, maxSize, finalized) {
                for (let slotID = 1; slotID <= count; slotID++) {
                    this.slots.set(slotID, new Slot(slotID, minSize, maxSize, finalized[slotID - 1], this))
                }
            }

            /**
             * Calls the remove application method of the right slot
             * @param application
             */
            removeApplication(application) {
                for (const slot of this.slots.values()) {
                    if (slot.accepted_applications.has(application.id))
                        slot.removeApplication(application);
                }
            }
        }

        /**
         * A class representing a slot
         */
        class Slot {
            constructor(slotID, minSlotSize, maxSlotSize, finalized, slotAppRel) {
                this.id = slotID;
                this.minSlotSize = minSlotSize;
                this.maxSlotSize = maxSlotSize;
                this.finalized = finalized;
                this.slotAppRel = slotAppRel;
                this.topicID = slotAppRel.topicID;
                this.nowAssignedSize = 0;
                this.accepted_applications = new Map();
                this.div = $('<div id="slot-' + this.topicID + "-" + this.id + '" class="inner-list-item droppable"></div>');
                this.div.droppable({
                    accept: ".application",
                    hoverClass: "drop-hover",
                    drop: (event, ui) => this.handleDrop(event, ui)
                })
                this.updateDiv()
                $('#assignments-' + this.topicID).append(this.div);
            }

            /**
             * Handles a drop on this slot
             * @param event the drop event
             * @param ui the ui
             */
            handleDrop(event, ui) {
                const drag = ui.draggable;
                const application = this.slotAppRel.applications.get(parseInt(drag.attr('id').substring(12)));
                const slot = this;
                let revert = false;
                let exchange = false;
                let exchangeItem = null;
                let override = false;
                let waitForDialog = false;

                // Test if we can drop. if not we revert for nice user feedback
                if (application == null) {
                    infoPopup("info", "Can only change items in the same Topic");
                    revert = true;
                } else if (this.accepted_applications.has(application.id)) {
                    infoPopup("info", "This application is already in this slot");
                    revert = true;
                } else if (this.finalized !== 0) {
                    infoPopup('bad', "This slot is locked, application can't be added");
                    revert = true;
                }

                if (!revert && application.collectionFullfilled && application.slotID === -1) {
                    //test if we override fulfilled
                    if (overrideFulfilled) {
                        override = true;
                    } else {
                        infoPopup("info", "The collection of this application is already satisfied");
                        revert = true;
                    }
                }

                if (!revert && this.nowAssignedSize + application.students.length > this.maxSlotSize) {
                    //Test if we can exchange.
                    const exchangeItems = new Map()
                    for (const accepted_application of this.accepted_applications.values()) {
                        if (!accepted_application.finalized && application.students.length === accepted_application.students.length || this.maxSlotSize >= this.nowAssignedSize - accepted_application.students.length + application.students.length) {
                            exchangeItems.set(accepted_application.id, accepted_application);
                        }
                    }

                    if (exchangeItems.size === 0) {
                        revert = true;
                        infoPopup("bad", "Can only exchange with groups that are the same size or larger");
                    } else {
                        let dialog = $('<div id="dialog-assignment-exchange"></div>');
                        let first = true;
                        for (const application of exchangeItems.values()) {
                            const choice = $('<div class="item" data-assignment="' + application.id + '">' + application.students + '</div>');
                            if (first) {
                                choice.addClass('selected');
                                first = false;
                            }
                            choice.click((event) => {
                                $('#dialog-assignment-exchange .item.selected').removeClass('selected')
                                $(event.currentTarget).addClass('selected');
                            });
                            dialog.append(choice);
                        }
                        if (overrideApplications && exchangeItems.size === 1) {
                            exchange = true;
                            exchangeItem = exchangeItems.values().next().value;
                        } else if (exchangeItems.size > 1) {
                            dialog.attr('title', 'Choose Assignment to exchange');
                            waitForDialog = true;
                        } else if (exchangeItems.size === 1) {
                            dialog.attr('title', 'Exchange with this assignment?');
                            waitForDialog = true;
                        }

                        if (waitForDialog)
                            dialog.dialog({
                                resizable: false,
                                height: "auto",
                                width: 400,
                                modal: true,
                                buttons: {
                                    "Exchange": function () {
                                        exchange = true;
                                        exchangeItem = exchangeItems.get($('#dialog-assignment-exchange .selected').data('assignment'));
                                        console.log(exchangeItem)
                                        $(this).dialog("close");
                                        handleDropHelper()
                                        $(this).dialog('destroy').remove()
                                    },
                                    Cancel: function () {
                                        $(this).dialog("close");
                                        revert = true
                                        handleDropHelper()
                                        $(this).dialog('destroy').remove()
                                    }
                                }
                            });
                    }
                }

                if (!waitForDialog)
                    return handleDropHelper.call(this);

                function handleDropHelper() {
                    if (revert)
                        return $(drag).draggable("option", "revert", true);
                    $(drag).draggable("option", "revert", false);
                    infoPopup("wait", "Waiting for server response");

                    if (override && !exchange) {
                        requestRemoveApp(application, (data) => {
                            if (data['requestStatus']) {
                                //remove from topic if shown
                                removeFromShownTopics(application);
                                //add the application to this slot
                                requestAddAppThis(application);
                                //update applications listing
                                slot.slotAppRel.sortApplicationsList()
                            } else {
                                infoPopup("bad", data["text"]);
                                $(drag).draggable("option", "revert", true);
                            }
                            updateStatistic()
                            updateBrokenSlots()
                        });
                    } else if (override && exchange) {
                        requestRemoveApp(application, (data) => {
                            if (data['requestStatus']) {
                                //remove app from topic if shown
                                removeFromShownTopics(application);
                                //remove app we want to exchange from this topic
                                requestRemoveApp(exchangeItem, (data) => {
                                    if (data['requestStatus']) {
                                        //remove app from this topic
                                        slot.removeApplication(exchangeItem);
                                        //add app to this topic
                                        requestAddAppThis(application);
                                    } else {
                                        infoPopup("bad", data["text"]);
                                        $(drag).draggable("option", "revert", true);
                                    }
                                    slot.slotAppRel.sortApplicationsList()
                                    updateStatistic()
                                    updateBrokenSlots()
                                });
                                //update applications listing
                                slot.slotAppRel.sortApplicationsList()
                            } else {
                                infoPopup("bad", data["text"]);
                                $(drag).draggable("option", "revert", true);
                            }
                        });
                    } else if (!override && exchange) {
                        requestRemoveApp(exchangeItem, (data) => {
                            if (data['requestStatus']) {
                                //remove app from this topic
                                slot.removeApplication(exchangeItem);
                                //add app to this topic
                                if (application.slotID === -1) {
                                    requestAddAppThis(application);
                                } else {
                                    const old_slot_id = application.slotID
                                    requestSwitchSlots(application, () => requestAddOtherApp(exchangeItem, slot.slotAppRel.slots.get(old_slot_id)))
                                }
                                slot.slotAppRel.sortApplicationsList()
                                //Update stats
                                updateStatistic()
                                updateBrokenSlots()
                            } else {
                                infoPopup("bad", data["text"]);
                                $(drag).draggable("option", "revert", true);
                            }
                        });
                    } else if (application.slotID === this.id)
                        return;
                    else if (application.slotID === -1) {
                        requestAddAppThis(application);
                    } else {
                        requestSwitchSlots(application, null)
                    }

                    //Helper functions

                    //Switches Slots in this topic
                    function requestSwitchSlots(application, success) {
                        //switch from slot to another
                        $.ajax({
                                data: {
                                    csrfmiddlewaretoken: "{{ csrf_token }}",
                                    action: "changeAssignment",
                                    applicationID: application.id,
                                    newSlotID: slot.id
                                },
                                method: "POST",
                                dataType: "json",
                                fail: () => {
                                    infoPopup("bad", "Internal Server Error.");
                                },
                                success: (data) => {
                                    const applicationAccepted = data["requestStatus"];
                                    const applicationAcceptedText = data["text"];

                                    if (applicationAccepted) {
                                        slot.slotAppRel.slots.get(application.slotID).removeApplication(application);
                                        slot.addApplication(application);
                                        application.updateDiv();
                                        infoPopup("good", applicationAcceptedText)
                                        //Update stats
                                        updateStatistic()
                                        updateBrokenSlots()
                                        if (success != null) {
                                            success.call(this)
                                        }
                                    } else
                                        infoPopup("bad", applicationAcceptedText)
                                }
                            }
                        );
                    }

                    //Removes an application from this slot
                    function requestRemoveApp(application, success) {
                        $.ajax({
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                action: "removeAssignment",
                                applicationID: application.id,
                            },
                            method: "POST",
                            dataType: "json",
                            fail: () => {
                                infoPopup("bad", "Internal Server Error.");
                            },
                            success: success
                        });
                    }

                    //adds a not assigned application to this slot
                    function requestAddAppThis(application) {
                        requestAddOtherApp(application, slot)
                    }

                    //adds a not assigned application to a slot
                    function requestAddOtherApp(application, slot) {
                        $.ajax({
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                action: "newAssignment",
                                applicationID: application.id,
                                slotID: slot.id
                            },
                            method: "POST",
                            dataType: "json",
                            fail: function () {
                                infoPopup("bad", "Internal Server Error.");
                            },
                            success: (data) => {
                                const applicationAccepted = data["requestStatus"];
                                const applicationAcceptedText = data["text"];
                                if (applicationAccepted) {
                                    slot.addApplication(application);
                                    infoPopup("good", applicationAcceptedText);
                                    updateStatistic()
                                    updateBrokenSlots()
                                } else {
                                    $(drag).draggable("option", "revert", true);
                                    infoPopup("bad", applicationAcceptedText);
                                }
                            }
                        });
                    }

                    //Removes from other slot if found
                    function removeFromShownTopics(application) {
                        for (const slotAppRel of shownTopics.values()) {
                            for (const _slot of slotAppRel.slots.values()) {
                                if (_slot !== slot)
                                    for (const accepted_application of _slot.accepted_applications.values()) {
                                        if (JSON.stringify(accepted_application.students) === JSON.stringify(application.students) && application.collectionID === accepted_application.collectionID) {
                                            _slot.removeApplication(accepted_application);
                                        }
                                    }
                            }
                        }
                    }
                }

            }

            /**
             * Adds an application to this slot and updates the application accordingly. This does not check for any regulations
             * @param application the application to add
             */
            addApplication(application) {
                this.accepted_applications.set(application.id, application);
                this.nowAssignedSize += application.students.length;
                if (application.slotID === -1) {
                    application.collectionFullfilled = true;
                    updateApplicationsPossibleAssignments();
                }
                application.slotID = this.id;
                application.div.draggable("option", "revert", true);

                this.updateDiv();

                // Update group details
                let selectedApp = $('.application.selected');
                if (selectedApp.length > 0) {
                    let selectedAppID = selectedApp.attr('id').replace('application-', '');
                    updateApplicationGroupDetails(selectedAppID);
                }
            }

            /**
             * Removes an application from this slot and updates the application accordingly. This does not check for any regulations
             * @param application the application to remove
             */
            removeApplication(application) {
                this.accepted_applications.delete(application.id);
                this.nowAssignedSize -= application.students.length;
                application.collectionFullfilled = false;
                updateApplicationsPossibleAssignments();
                application.slotID = -1;
                $('#applications-' + this.topicID).append(application.div);

                this.updateDiv();
            }

            /**
             * Updates the div of this slot. Consist of a status (name + icon), current assignments and placeholders
             */
            updateDiv() {
                $('#slot-' + this.topicID + "-" + this.id + ' .field').detach();
                $('#slot-' + this.topicID + "-" + this.id + ' .status').remove();

                let buttonID = 'slot-' + this.topicID + "-" + this.id + '-finalized';
                let status = '<div class="status">'
                /*
                * Begin of adding/creating a button to lock or unlock this slot.
                */
                status += '<a><button ';
                if (this.finalized === 0) {
                    status += 'class="fa fa-unlock-alt lock-open"'
                } else {
                    status += 'class="fa fa-lock lock-closed"'
                }
                status += 'aria-hidden="true" id="' + buttonID + '"></button>'
                /*
                * End of adding/creating a button to lock or unlock this slot.
                */
                status += ' Slot ' + this.id + '</a>';
                if (this.nowAssignedSize === this.maxSlotSize) {
                    status += '<i class="fa  fa-check-circle-o" title="slot fully assigned"></i>';
                } else if (this.nowAssignedSize >= this.minSlotSize) {
                    status += '<i class="fa fa-check" title="slot has remaining unoccupied places"></i>';
                } else {
                    status += '<i class="fa fa-times" title="not enough students assigned"></i>';
                }
                status += '</div>'

                this.div.append($(status))
                for (let application of this.accepted_applications.values()) {
                    this.div.append(application.div)
                }
                for (let i = this.nowAssignedSize + 1; i <= this.maxSlotSize; i++) {
                    if (i > this.minSlotSize)
                        this.div.append($('<div class="placeholder field optional"> place ' + i + '</div>'))
                    else
                        this.div.append($('<div class="placeholder field"> place ' + i + '</div>'))
                }

                handleLockButtonClickSlot(this, '#' + buttonID);
            }
        }

        /**
         * A class to represent one Application
         */
        class Application {
            constructor(applicationID, students, preference, possibleAssignments, collectionSize, slotID, collectionFullfilled, finalized, slotAppRel, collectionID) {
                this.id = applicationID;
                this.preference = preference;
                this.possibleAssignments = possibleAssignments;
                this.collectionSize = collectionSize
                this.slotID = slotID;
                this.students = students;
                this.collectionFullfilled = collectionFullfilled;
                this.finalized = finalized;
                this.slotAppRel = slotAppRel;
                this.topicID = slotAppRel.topicID;
                this.collectionID = collectionID;
                this.div = $('<div id="application-' + applicationID + '" class="outer-item application"></div>');
                this.updateDiv()

                let container = $('#assignment-application');
                this.div.draggable({
                    revert: 'invalid',
                    helper: 'clone',
                    scroll: false,
                    containment: [
                        container.left,
                        container.top,
                        container.left,
                        container.top
                    ],
                    start: function (event, ui) {
                        ui.helper.width($(this).width());
                        $('.application.selected').removeClass('selected');
                        $(this).addClass('selected');
                        ui.helper.addClass('selected');
                        infoPopup(null, null);
                        updateApplicationGroupDetails(applicationID);
                    }
                })

            }

            /**
             * Updates the div of this application
             */
            updateDiv() {
                $('#application-' + this.id + " .inner-item").detach();
                let isFirstItem = true;
                let buttonID = 'application-' + this.id + '-finalized';
                for (let student of this.students) {
                    let studItemString = '<div class="inner-item"><a>'
                    // LockButton for this Application
                    if (isFirstItem) {
                        studItemString += '<button '
                        if (this.slotID !== -1 && this.finalized) {
                            studItemString += 'class="fa fa-lock lock-closed"'
                        } else {
                            studItemString += 'class="fa fa-unlock-alt lock-open"'
                        }
                        studItemString += ' aria-hidden="true"'
                        studItemString += (this.slotID === -1) ? ' style="display:none"' : ''
                        studItemString += ' id="' + buttonID + '"></button> '
                    }

                    studItemString += student + '</a></div>'

                    let studItem = $(studItemString);
                    // Additional Information for this Application
                    if (isFirstItem) {
                        isFirstItem = false;
                        let infoItem = $('<div class="group-info"></div>')
                        let preference = $('<div class="group-info-preference" title="preference ranking in affiliated collection">' + '<i class="fa fa-hashtag"></i>' + this.preference + '</div>');
                        let remainingAssignments = $('<div class="group-info-possible-assignments" title="possible remaining assignments / size of affiliated collection"></div>');
                        let remainingAssignmentsTemp = "";
                        if (this.collectionFullfilled || (this.possibleAssignments <= 0 && this.div.parent().parent().attr("id") === "slot")) {
                            remainingAssignmentsTemp += '<i style="color: green" class="fa fa-check"></i>';
                        } else if (this.possibleAssignments <= 0) {
                            remainingAssignmentsTemp += '<i style="color: var(--lightcoral)" class="fa fa-times"></i>';
                        } else {
                            remainingAssignmentsTemp += '<i class="fa fa-th"></i>';
                        }
                        let infoButton = $('<i class="info-button fa fa-info-circle"></i>');
                        remainingAssignments.append(remainingAssignmentsTemp += this.possibleAssignments + "/" + this.collectionSize)
                        infoItem.append(preference);
                        infoItem.append(remainingAssignments);
                        infoItem.append(infoButton);
                        studItem.append(infoItem)
                    }
                    this.div.append(studItem);
                }

                handleLockButtonClickApplication(this, '#' + buttonID)
            }
        }

        let possibleAssignmentQueue = false

        /**
         * Updates all possibleAssignmentValues for all shown Topics if there is no query running, otherwise schedules
         * it
         */
        function updateApplicationsPossibleAssignments() {
            if (!possibleAssignmentQueue) {
                possibleAssignmentQueue = true
                helper();
            } else if (possibleAssignmentQueue) {
                possibleAssignmentQueue = true;
            }

            function helper() {
                $('#applications-pending-update').html('<i class="fa fa-spin fa-circle-o-notch loading"></i>')

                let apps = [];
                let appIDs = []
                shownTopics.forEach(slotAppRel => {
                    slotAppRel.applications.forEach(application => {
                        apps.push(application)
                        appIDs.push(application.id)
                    });
                });
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "getBulkApplicationsUpdate",
                        applicationIDs: appIDs,
                    },
                    method: "POST",
                    dataType: "json",
                    success: data => {
                        $('#applications-pending-update').empty()

                        for (const app of apps) {
                            app.possibleAssignments = data[app.id]['possibleAssignments'];
                            app.collectionFullfilled = data[app.id]['collectionFulfilled'];
                            app.updateDiv();
                        }
                        // do next update if scheduled
                        if (possibleAssignmentQueue) {
                            helper()
                        }
                        possibleAssignmentQueue = false;
                    }
                });
            }
        }

        /**
         * Handling the click and visual representation of the button to lock and unlock a slot.
         * @param slot the corresponding slot
         * @param buttonID the id of the button element
         */
        function handleLockButtonClickSlot(slot, buttonID) {
            $(buttonID).on('click', {slot: slot}, function (event) {
                let oldFinalized = event.data.slot.finalized;
                if (oldFinalized === 0) {
                    if (event.data.slot.nowAssignedSize >= event.data.slot.minSlotSize) {
                        $(buttonID).removeClass("fa fa-unlock-alt lock-open")
                        $(buttonID).addClass("fa fa-lock lock-closed")
                        event.data.slot.finalized = 1;
                    }
                } else if (oldFinalized === 1) {
                    $(buttonID).removeClass("fa fa-lock lock-closed")
                    $(buttonID).addClass("fa fa-unlock-alt lock-open")
                    event.data.slot.finalized = 0;
                } else {
                    infoPopup('bad', "Slot was locked by an admin and can't be unlocked")
                }

                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "changeFinalizedValueSlot",
                        slotID: event.data.slot.id,
                        slotTopicID: event.data.slot.topicID,
                        newFinalized: event.data.slot.finalized,
                    },
                    method: "POST",
                    dataType: "json",
                    success: data => {
                        if (!data['requestStatus']) {
                            event.data.slot.finalized = oldFinalized;
                        }
                        if (event.data.slot.finalized === 0) {
                            event.data.slot.div.addClass('droppable');
                        } else {
                            event.data.slot.div.removeClass('droppable');
                        }
                        let popupState = data['requestStatus'] ? 'good' : 'bad'
                        infoPopup(popupState, data["text"]);
                    }
                })
            });
        }

        /**
         * Handling the click and visual representation of a button to lock and unlock an assigned application.
         * @param application the corresponding application
         * @param buttonID the id of the button element
         */
        function handleLockButtonClickApplication(application, buttonID) {

            $(buttonID).on('click', {application: application}, function (event) {

                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "changeFinalizedValueApplication",
                        slotID: event.data.application.slotID,
                        slotTopicID: event.data.application.topicID,
                        applicationID: event.data.application.id,
                    },
                    method: "POST",
                    dataType: "json",
                    success: data => {
                        let popupState = 'bad';
                        if (data['requestStatus']) {
                            popupState = 'good';
                            event.data.application.finalized = !event.data.application.finalized;
                            if (event.data.application.finalized) {
                                $(buttonID).removeClass("fa fa-unlock-alt lock-open");
                                $(buttonID).addClass("fa fa-lock lock-closed");
                            } else {
                                $(buttonID).removeClass("fa fa-lock lock-closed");
                                $(buttonID).addClass("fa fa-unlock-alt lock-open");
                            }
                        }
                        infoPopup(popupState, data["text"]);
                    }
                })
            });

            let parentDivID = application.div.parent().attr("id")
            if (parentDivID !== undefined) {
                if (parentDivID.includes('slot')) {
                    $(buttonID).show();
                } else {
                    $(buttonID).hide();
                }
            }
        }

        /**
         * Update the URL according to the selected topic, group and collectionID.
         * @param selectedTopics list of selectedTopics
         * @param newGroupID the selected Group
         * @param newCollectionID the selected Collection
         */
        function updateURL(selectedTopics, newGroupID, newCollectionID) {
            let urlData = window.location.href.substring(window.location.href.lastIndexOf('/') + 2).split('&')
            if (urlData.length === 3) {
                urlData[0] = urlData[0].substring(6);
                urlData[1] = urlData[1].substring(6);
                urlData[2] = urlData[2].substring(11);
            } else {
                urlData[0] = -1;
                urlData[1] = -1;
                urlData[2] = -1;
            }
            let url = '/?'
            url += 'topic='

            if (selectedTopics != null && selectedTopics.length !== 0) {
                for (let i = 0; i < selectedTopics.length; i++) {
                    url += selectedTopics[i] + "+";
                }
                url.substring(0, url.length - 1);
            } else if (selectedTopics != null && selectedTopics.length == 0) {
                url += -1
            } else if (parseInt(urlData[0]) !== -1) {
                url += urlData[0];
            } else {
                url += -1
            }
            url += '&group='
            if (newGroupID != null) {
                url += newGroupID;
            } else if (parseInt(urlData[1]) !== -1) {
                url += urlData[1];
            } else {
                url += -1
            }
            url += '&collection='
            if (newCollectionID != null) {
                url += newCollectionID;
            } else if (parseInt(urlData[2]) !== -1) {
                url += urlData[2];
            } else {
                url += -1
            }
            history.replaceState(null, '', '/assignment' + url);
        }

        /**
         * Adds a topic, loads new slots, assignments and applications for it, slects it in the topic list, if there is space
         *
         * @param topicID the id of the topic to add
         * @return true when the topic was added, otherwise false
         */
        function handleTopicAdd(topicID) {
            if (shownTopics.has(topicID)) {
                $('.section.single').removeClass('highlight');
                const div = $('#assignment-application-' + topicID).get(0)
                div.scrollIntoView({behavior: 'smooth'});
                $(div).addClass('highlight');
                return;
            }

            if (shownTopics.size >= 15) {
                infoPopup("info", "A maximum of 15 Topics can be displayed at once.\n Please note that topics with a large number of applications could lead to slow behaviour");
                return false;
            }
            const topic = $(".topic").filter(function () {
                return $(this).data("topicid") === topicID
            });

            topic.addClass('selected');

            infoPopup("wait", "retrieving topic data");
            //Get and load new Data
            let slotAppRel = new SlotAppRel(topicID, topic.text());
            shownTopics.set(topicID, slotAppRel);
            doServerRequest();

            /**
             * Request data for the new topic from the server
             */
            function doServerRequest() {
                $.ajax({
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: "selectTopic",
                        topicID: topicID,
                    },
                    method: "POST",
                    dataType: "json",

                    success: data => {
                        slotAppRel.loadSlots(data['topicSlots'], data['topicMinSlotSize'], data['topicMaxSlotSize'], data['topicSlotsFinalized']);
                        slotAppRel.loadApplications(data['applications'])
                        updateURL(getLoadedTopicIDs(), null, null)
                        infoPopup("good", "loaded topic data");
                    }
                })
            }

            //Hide initial div
            if (shownTopics.size === 1) {
                $('#no-topic-selected').hide();
            }

            return true;
        }

        /**
         * Removes a topic from the view
         * @param topicID
         */
        function handleTopicRemove(topicID) {
            shownTopics.get(topicID).deleteSectionDiv();
            shownTopics.delete(topicID);
            //Show initial div
            if (shownTopics.size === 0) {
                $('#no-topic-selected').show();
            }
            updateURL(getLoadedTopicIDs(), null, null);
        }

        /**
         * returns all loaded topics
         * @return {*[]} int array of loaded topics
         */
        function getLoadedTopicIDs() {
            const loadedTopicIDs = [];
            for (let key of shownTopics.keys()) {
                loadedTopicIDs.push(key);
            }
            return loadedTopicIDs;
        }

        /**
         * Displays a popup with information
         * @param type the type of the message (good,bad,info)
         * @param msg the message to show
         */
        function infoPopup(type, msg) {
            const userFeedback = $('#user-feedback');
            let userFeedbackClone = userFeedback.clone()
            userFeedbackClone.removeClass("good bad info wait")
            if (type == null || msg == null) {
                userFeedbackClone.html("");
                userFeedback.replaceWith(userFeedbackClone)
                return;
            }

            userFeedbackClone.addClass(type);
            userFeedbackClone.text(msg);
            if (type === "wait") {
                userFeedbackClone.append('<i class="fa fa-circle-o-notch fa-spin" style="margin-left: 3px"></i>');
            }
            userFeedback.replaceWith(userFeedbackClone)
        }

        /**
         * Handles click on override Slot Button
         */
        function overrideControl() {
            const button = $('#overrideControl')
            button.toggleClass('selected')
            overrideApplications = !!button.hasClass('selected');
        }

        /**
         * Handles click on override Assignment Button
         */
        function ignoreAssigned() {
            const button = $('#ignoreAssigned');
            button.toggleClass('selected');
            overrideFulfilled = !!button.hasClass('selected');
        }

        // --- MAIN FUNCTION --- //
        $(document).ready(
            function () {

                // --- TOPIC CLICK HANDLING --- //
                $('.topic').click(function (e) {
                    e.preventDefault();
                    let topic = $(this);

                    //Remove from view
                    if (topic.hasClass('selected')) {
                        handleTopicRemove(topic.data('topicid'));
                        topic.removeClass('selected');
                    } else {
                        handleTopicAdd(topic.data('topicid'));
                    }

                    const div = $('#assignment-application-' + topic.data('topicid'));
                })

                // --- PRESELECT TOPIC IF GETTER IS SET --- //
                {% if topicids != False %}
                    {% for topicid in topicids %}
                        $('#topics .topic[data-topicid="{{ topicid }}"]').click();
                    {% endfor %}
                {% endif %}
            }
        );

    </script>

    <!-- Script-block for managing filters and searchbar -->
    <script>
        class FilterSettings {

            constructor() {
                this.selectedCPMin = 0;
                this.selectedCPMax = 0;
                this.selectedCourseTypes = [];
                this.selectedFaculties = [];
                this.searchbar = "";
                this.special = 0;
            }

            /**
             * Creates the model for displaying and selecting the filter options
             */
            createModalHandling() {
                const filterSettings = this;

                /**
                 * Creates and sets the click handler of the given normal chip
                 * @param chip the chip to set the click handler of
                 * @param filterSettings the current filterSettings object
                 */
                function createSingleChipClickHandler(chip, filterSettings) {
                    chip.click(() => {
                        let filterType = chip.data('filter');
                        let filterValue = chip.data('value');
                        if (chip.hasClass('selected')) {
                            chip.removeClass('selected');
                            if (filterType === 'courseType') {
                                filterSettings.removeCourseType(filterValue);
                            } else if (filterType === 'faculty') {
                                filterSettings.removeFaculty(filterValue);
                            }
                        } else {
                            chip.addClass('selected');
                            if (filterType === 'courseType') {
                                filterSettings.addCourseType(filterValue);
                            } else if (filterType === 'faculty') {
                                filterSettings.addFaculty(filterValue);
                            }
                        }
                        filterSettings.filterChanged();
                    })
                }

                /**
                 * Creates and sets the click handler of the given special chip
                 * @param chip the chip to set the click handler of
                 * @param filterSettings the current filterSettings object
                 */
                function createSingleSpecialChipClickHandler(chip, filterSettings) {
                    chip.click(() => {
                        if (!chip.hasClass('selected')) {
                            $("#filter-modal .single .chip.special").removeClass('selected');
                            switch (chip.data('value')) {
                                case 'showAll':
                                    filterSettings.special = 0;
                                    break
                                case 'showEmpty':
                                    filterSettings.special = 1;
                                    break
                                case 'showOpen':
                                    filterSettings.special = 2;
                                    break
                            }
                            chip.addClass('selected')
                            filterSettings.updateTopicList();
                        }
                    })
                }

                /**
                 * Creates and sets the click handler of the given chip
                 * The given chip will be a select all or unselect all chip
                 * @param chip the chip to set the click handler of
                 * @param filterSettings the current filterSettings object
                 */
                function createMultiChipClickHandler(chip, filterSettings) {
                    chip.click(() => {
                        let filterType = chip.data('filter');

                        // slider stuff for cp
                        if (filterType === 'cp') {
                            filterSettings.selectedCPMin = 0;
                            filterSettings.selectedCPMax = -1;
                            slider.slider("option", "values", [0, 11]);
                            $("#chosen-cp").text('0 - ∞ CP');
                        }
                        // special chips
                        else if (filterType === 'special') {
                            filterSettings.updateTopicList()
                        }
                        // toggle chips otherwise
                        else {
                            // Update the chips
                            let chips = $('#filter-modal .chips .single .chip[data-filter="' + filterType + '"]');
                            if (chip.hasClass('selected')) {
                                //Update class
                                if (filterType === 'courseType') {
                                    filterSettings.selectedCourseTypes = [];
                                    filterSettings.loadAllCourses();
                                } else if (filterType === 'faculty') {
                                    filterSettings.selectedFaculties = [];
                                    filterSettings.loadAllFaculties()
                                }
                                //update chips
                                chips.each((index, chip1) => {
                                    let chip = $(chip1)
                                    if (!chip.hasClass('selected')) {
                                        chip.addClass('selected');
                                    }
                                });
                            } else {
                                //Update class
                                if (filterType === 'courseType')
                                    filterSettings.selectedCourseTypes = [];
                                else if (filterType === 'faculty')
                                    filterSettings.selectedFaculties = [];
                                //Update chips
                                chips.each((index, chip1) => {
                                    let chip = $(chip1)
                                    if ($(chip).hasClass('selected')) {
                                        chip.removeClass('selected');
                                    }
                                });
                            }

                            //Update multi chip
                            $(chip).toggleClass('selected');
                        }
                        //Actually apply the changes
                        filterSettings.filterChanged();
                    });
                }

                // --- CP SLIDER --- //
                //Create the slider and update on slide
                let slider = $('#slider-range');
                slider.slider({
                    range: true,
                    min: 0,
                    max: 11,
                    values: [filterSettings.selectedCPMin, filterSettings.selectedCPMax === -1 ? 11 : filterSettings.selectedCPMax],
                    slide: function (event, ui) {
                        $('#chosen-cp').text(ui.values[0] + " - " + (ui.values[1] == 11 ? '∞' : ui.values[1]) + " CP");
                        filterSettings.selectedCPMin = ui.values[0];
                        filterSettings.selectedCPMax = ui.values[1] == 11 ? -1 : ui.values[1];
                        filterSettings.filterChanged();
                    }
                });

                // --- MULTI CHIPS --- //
                $('#filter-modal .chip.multi').each((index, chip) => createMultiChipClickHandler($(chip), filterSettings));


                // --- COURSE & FACULTY CHIPS --- //
                $("#filter-modal .single .chip:not(.special)").each((index, chip) => createSingleChipClickHandler($(chip), filterSettings));

                // --- SPECIAL CHIPS --- //
                $("#filter-modal .single .chip.special").each((index, chip) => createSingleSpecialChipClickHandler($(chip), filterSettings));

            }

            /**
             * A method to add a CourseType to the selected CourseTypes
             *
             * @param course: the course to add
             */
            addCourseType(course) {
                this.selectedCourseTypes.push(course);
            }

            /**
             * A method to add a faculty to the selected facultys
             *
             * @param faculty: the faculty to add
             */
            addFaculty(faculty) {
                this.selectedFaculties.push(faculty)
            }

            /**
             * A method to remove a CourseType from the selected CourseTypes
             *
             * @param course: the course to remove
             */
            removeCourseType(course) {
                const index = this.selectedCourseTypes.indexOf(course);
                if (index > -1) {
                    this.selectedCourseTypes.splice(index, 1);
                }
            }

            /**
             * A method to remove a faculty from the selected facultys
             *
             * @param faculty: the faculty to remove
             */
            removeFaculty(faculty) {
                const index = this.selectedFaculties.indexOf(faculty);
                if (index > -1) {
                    this.selectedFaculties.splice(index, 1);
                }
            }

            /**
             * loads all courses and faculties provided by the backend as arguments and stores them
             */
            loadDefaultValues() {
                this.selectedCPMin = 0;
                this.selectedCPMax = -1;
                this.loadAllCourses();
                this.loadAllFaculties();
                $("#filter-modal .single .chip ").each((index, chip1) => {
                    let chip = $(chip1);
                    chip.addClass('selected');
                });
                this.saveToCookie();
                this.readFromCookie();
            }

            /**
             * loads all courses provided by the backend as arguments and stores them
             */
            loadAllCourses() {
                {% for courseType in course_types %}
                    this.selectedCourseTypes.push({{ courseType.pk }})
                {% endfor %}
            }

            /**
             * loads all faculties provided by the backend as arguments and stores them
             */
            loadAllFaculties() {
                {% for faculty in faculties %}
                    this.selectedFaculties.push("{{ faculty }}")
                {% endfor %}
            }

            selectedCPMinID = "selectedCPMin:";
            selectedCPMaxID = "selectedCPMax:";
            selectedCourseTypesID = "selectedCourseTypes:";
            selectedFacultiesID = "selectedFaculties:";

            /**
             * reads the filter settings which are stored in the cookie and applies them to this filterSettings
             */
            readFromCookie() {
                if (readCookie("filterSettings") != null) {
                    // CHECK IF COOKIE IS CORRECT

                    function cookieBroken(filterSettings) {
                        console.log("The filter cookie seems to be broken. Loading Defaults!");
                        eraseCookie("filterSettings");
                        filterSettings.loadDefaultValues();
                    }

                    let filterSplit = readCookie("filterSettings").split("&");
                    if (filterSplit.length !== 4) cookieBroken(this);

                    let selectedCPMinIndex = filterSplit[0].lastIndexOf(this.selectedCPMinID);
                    let selectedCPMaxIndex = filterSplit[1].lastIndexOf(this.selectedCPMaxID);
                    let selectedCourseTypesIndex = filterSplit[2].lastIndexOf(this.selectedCourseTypesID);
                    let selectedFacultiesIndex = filterSplit[3].lastIndexOf(this.selectedFacultiesID);
                    if (selectedCPMinIndex === -1 || selectedCPMaxIndex === -1 || selectedCourseTypesIndex === -1 || selectedFacultiesIndex === -1) cookieBroken(this);


                    // LOAD DATA FROM COOKIE
                    // CP

                    this.selectedCPMin = parseInt(filterSplit[0].substring(selectedCPMinIndex + this.selectedCPMinID.length));
                    this.selectedCPMax = parseInt(filterSplit[1].substring(selectedCPMaxIndex + this.selectedCPMaxID.length));
                    let slider = $('#slider-range');
                    slider.slider("option", "values", [this.selectedCPMin, this.selectedCPMax === -1 ? 11 : this.selectedCPMax]);
                    //Show initial Text
                    $("#chosen-cp").text(this.selectedCPMin + " - " + (this.selectedCPMax === -1 ? '∞' : this.selectedCPMax) + " CP");

                    //CourseTypes
                    let courseTypes = filterSplit[2].substring(selectedCourseTypesIndex + this.selectedCourseTypesID.length).split(",");
                    for (let i = 0; i < courseTypes.length; i++) {
                        if (courseTypes[i].length > 0)
                            this.selectedCourseTypes.push(parseInt(courseTypes[i]));
                    }

                    //Faculties
                    let faculties = filterSplit[3].substring(selectedFacultiesIndex + this.selectedFacultiesID.length).split(",");
                    for (let i = 0; i < faculties.length; i++) {
                        if (faculties[i].length > 0)
                            this.selectedFaculties.push(faculties[i]);
                    }

                    //Update Chips
                    let filterSettings = this;
                    $("#filter-modal .single .chip:not(.special)").each((index, chip1) => {
                        let chip = $(chip1);
                        if (filterSettings.selectedCourseTypes.some(item => item === chip.data('value')) ||
                            filterSettings.selectedFaculties.some(item => item === chip.data('value')))
                            chip.addClass('selected');
                        else
                            chip.removeClass('selected');
                    });
                }
            }

            /**
             * Saves the filter settings to the cookie
             */
            saveToCookie() {
                let cookieValue = this.selectedCPMinID + this.selectedCPMin;
                cookieValue += "&" + this.selectedCPMaxID + this.selectedCPMax;
                cookieValue += "&" + this.selectedCourseTypesID;
                this.selectedCourseTypes.forEach(e => {
                    cookieValue += e + ",";
                });
                if (this.selectedCourseTypes.length > 0)
                    cookieValue = cookieValue.substring(0, cookieValue.length - 1);
                cookieValue += "&" + this.selectedFacultiesID;
                this.selectedFaculties.forEach(e => {
                    cookieValue += e + ",";
                });
                if (this.selectedFaculties.length > 0)
                    cookieValue = cookieValue.substring(0, cookieValue.length - 1);
                createCookie("filterSettings", cookieValue, 5);
            }


            filterChangedQueue;

            /**
             * Handles the change of filters, even if multiple changes are mad
             */
            filterChanged() {
                /**
                 * Handles the change of filters
                 * @param filterSettings the filter settings to change
                 * @returns {(function(): void)|*}
                 */
                function filterChangedHelper(filterSettings) {
                    return () => {
                        filterSettings.saveToCookie();
                        filterSettings.updateTopicList();
                        updateStatistic()
                        updateBrokenSlots()
                    }
                }

                if (this.filterChangedQueue != null) {
                    clearTimeout(this.filterChangedQueue);
                }
                this.filterChangedQueue = setTimeout(filterChangedHelper(this), 250);
            }

            /**
             * Updates the List of Topics based on the applied filters
             */
            updateTopicList() {
                let topics = $(".topic");
                let courses = $(".topics_of_course.inner-list-item");
                let filteredTopics = null
                let _filterSettings = this
                if (this.special !== 0) {
                    $.ajax({
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            action: 'getTopicsFiltered',
                            minCP: _filterSettings.selectedCPMin,
                            maxCP: _filterSettings.selectedCPMax,
                            courseTypes: _filterSettings.selectedCourseTypes,
                            faculties: _filterSettings.selectedFaculties,
                            special: _filterSettings.special
                        },
                        method: "POST",
                        dataType: "json",
                        success: function (data) {
                            filteredTopics = data["filteredTopics"]
                            topics.each((index, topic1) => {
                                let topic = $(topic1);
                                if (filteredTopics != null && !filteredTopics.includes(topic.data('topicid'))) {
                                    if (topic.hasClass('selected'))
                                        topic.click()
                                    topic.hide()
                                }
                            });
                            updateShownCourses();
                        }
                    });
                }

                topics.each((index, topic1) => {
                        let topic = $(topic1);
                        //Apply Search Bar
                        if (topic.parent().text().split("\n")[1].search(new RegExp(filterSettings.searchbar, "i")) !== -1)
                            topic.show();
                        else if (topic.text().search(new RegExp(filterSettings.searchbar, "i")) !== -1)
                            topic.show();
                        else {
                            if (topic.hasClass('selected')) {
                                topic.click()
                            }
                            topic.hide();
                        }
                        if ((filterSettings.selectedCPMin <= topic.data('cp') && filterSettings.selectedCPMax >= topic.data('cp') ||
                                filterSettings.selectedCPMax === -1 && topic.data('cp') >= filterSettings.selectedCPMin) &&
                            filterSettings.selectedCourseTypes.some(item => item === topic.data('course_type')) &&
                            filterSettings.selectedFaculties.some(item => item === topic.data('faculty'))) {
                        } else {
                            if (topic.hasClass('selected')) {
                                topic.click()
                            }
                            topic.hide()
                        }
                    }
                );

                function updateShownCourses() {
                    courses.each((index, course1) => {
                            let course = $(course1);
                            let hasChild = false;
                            $(course).find(".topic").each(function () {
                                if ($(this).css("display") !== "none")
                                    hasChild = true;
                            });

                            if (hasChild)
                                course.show();
                            else
                                course.hide();
                        }
                    )
                }

                updateShownCourses();
            }
        }

        /**
         * Handles opening of the modal
         */
        function openFilterModal() {
            $('#filter-modal').slideDown(250);
            $('#assignment-content .section').addClass('blur');
        }

        /**
         * Handles closing of the modal
         */
        function closeFilterModal() {
            $('#filter-modal').slideUp(250);
            $('#assignment-content .section').removeClass('blur');
        }

        $(document).on('mousedown', function (event) {
            if ($('#application-modal').is(':visible'))
                return;
            if (event.target === $('#filter-modal .title i.fa')[0])
                closeFilterModal();
            if (event.target.id === "filterButton"
                || $(event.target).parent('#filterButton').length !== 0
                || $(event.target).parents('#filter-modal .modal-content').length !== 0)
                return;
            closeFilterModal();
        });

        // --- INIT FILTER & HANDLE SEARCHBAR --- //
        const filterSettings = new FilterSettings();

        $(document).ready(
            function () {
                // --- init filter --- //
                filterSettings.createModalHandling();

                if (readCookie("filterSettings") != null) {
                    filterSettings.readFromCookie();
                    filterSettings.filterChanged();
                } else {
                    filterSettings.loadDefaultValues();
                    filterSettings.saveToCookie();
                }

                // --- SEARCHBAR HANDLING --- //
                let searchbar = $('#assignment-topBar #searchbar');
                if (searchbar != null) {
                    searchbar.val('');
                    searchbar.keyup(() => {
                        filterSettings.searchbar = searchbar.val().toLowerCase();
                        filterSettings.updateTopicList();
                    });
                }
            });
    </script>

    <!-- initialize defaults for post request -->
    <script>
        $.ajaxSetup({
            error: function (error) {
                if (error.statusText === 'timeout') {
                    infoPopup("bad", 'Request timeout after 30s.\nPlease reload the Page\n')
                } else
                    infoPopup("bad", error.statusText + " (╯°□°)╯︵ ┻━┻\n " + error.responseText);
            },
            timeout: 30000
        })
    </script>


{% endblock content %}
