 .container {
	 max-width: 1000px;
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 10px;
	 padding-right: 10px;
}

 .responsive-table li {
     border-radius: 3px;
	 padding: 25px 30px;
     display: flex;
	 justify-content: space-around;
	 margin-bottom: 25px;
}

 .responsive-table .table-header {
	 background-color: rgba(10,61,98,1);
	 font-size: 14px;
	 color: rgba(255,255,255,1);
	 text-transform: uppercase;
	 letter-spacing: 0.03em;
	 justify-content: space-around;
}
 .responsive-table .table-row {
	 background-color: transparent;
	 box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}
 .responsive-table .col-1 {
	 flex-basis: 100%;
}
 .responsive-table .col-2 {
	 flex-basis: 50%;
}
 .responsive-table .col-3 {
	 flex-basis: 33%;
}
 .responsive-table .col-4 {
	 flex-basis: 25%;
}

 @media all and (max-width: 767px) {
	 .responsive-table .table-header {
		 display: none;
	}
	 .responsive-table li {
		 display: block;
	}
	 .responsive-table .col {
		 flex-basis: 100%;
	}
	 .responsive-table .col {
		 display: flex;
		 padding: 10px 0;
	}
	 .responsive-table .col:before {
		 color: #6c7a89;
		 padding-right: 10px;
		 content: attr(data-label);
		 flex-basis: 50%;
		 text-align: right;
	}
}
